.card{
	display: grid;
	padding: 2rem;
	grid-template-rows: 1fr 1fr; /* percentages break based on whitespace/content amount */
	gap: 1rem;
}
.card-text{
	display: grid;
}
.card-image{
	display: grid;
	overflow: hidden;
}
.card-image img{
	width: 100%;
}