
*{
	width: 100lvw;
  height: 100lvh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

.background{
	background-color: black;

	padding: 5rem;
}

.heading-accent{
	color: purple;
}
